nav {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  padding: 0 50px;
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 50px;
  box-shadow: 0 4px 2px -2px#c4c4c4;
}

.end {
  display: flex;
  margin-left: auto;
}

nav a {
  color: #000;
  text-decoration: none;
}
